body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/static/img/blueberry_dessert.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Nunito', 'Helvetica', sans-serif;
    height: 100vh;
    overflow: hidden;
  }


h2 {
  font-weight: 200;
  font-size: 45px;
}

.create {
    font-size: 25px;
    text-align: left;
    padding-left: 100px;
    padding-top: 50px;
    font-weight: 200;
    color: rgb(57, 54, 54);
}


.class-1 {
    font-size: 18px;
    font-weight: bold;
    --b: 2px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #333435;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

.class-1:hover,
.class-1:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.class-1:active {
  background: var(--color);
  color: #fff;
}

.create .flashes h4 {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #e76b6b;
  padding-left: 0;
}


.btn-primary {
  color: black;
  background-color: transparent; 
  border-color: transparent;
  font-size: 15px;
}

.btn-primary:hover {
  background-color: transparent;
  border-color: transparent;
  color: black;
}
