html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito', 'Helvetica', sans-serif;
  color: white
}

h1 {
  background-color: rgb(240, 255, 255);
  color: rgb(240, 255, 255);
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;
  border-radius: 30px;
}

#map-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#map, .map {
  flex: 1; 
  height: 100%;
}

#directions-panel, .directions-panel {
  font-family: 'Nunito', 'Helvetica', sans-serif;
  background-color: rgb(240, 255, 255);
  flex: 1; 
  overflow-y: auto;
  height: 100%;
}

#sidebar {
  width: 30%;
  max-width: 30rem;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
  overflow: auto;
}

#floating-panel {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  height: auto;
}


@media (max-width: 768px) {
  #map-container {
    flex-direction: column;
  }
  #map, .map {
    height: 50%;
  }
  #directions-panel, .directions-panel {
    height: 50%;
  }
}


.homepage nav {
  position: fixed;
  top: 0;
  left: 0;
}

.nav-transparent {
  background: linear-gradient(rgba(0, 0, 0, 0.0), transparent);
  font-size: 1.2em;
  z-index: 100;
}

.nav-transparent .nav-link,
.nav-transparent .navbar-brand,
.nav-transparent p {
  color: rgb(250, 84, 84)
}

.nav-transparent .navbar-brand {
  font-weight: bold;
}

.nav-transparent .navbar-brand:hover,
.nav-transparent .nav-link:hover {
  color: grey;
}

.homepage > section.container-fluid,
.homepage > section.container {
  width: 100vw;
  height: 100vh;
  padding-top: 56px;
}

.demo-2 {
  position: relative;
}

.demo-2-bg {
  background-color: #facfe4; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}