html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: white
}

h1 {
  background-color: rgb(232, 246, 239);
  color: rgb(98, 205, 255); 
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;
  border-radius: 30px;
}

#map-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#map, .map {
  flex: 1; 
  height: 100%;
}

#directions-panel, .directions-panel {
  font-family: sans-serif;
  background-color: rgb(232, 246, 239);
  flex: 1; 
  overflow-y: auto;
  height: 100%;
}

#sidebar {
  width: 30%;
  max-width: 30rem;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
  overflow: auto;
}

#floating-panel {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  height: auto;
}

