body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/static/img/icecreampurple.jpg.webp');
  background-attachment: fixed; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Nunito', 'Helvetica', sans-serif;
  height: 100vh;
  overflow: hidden;
}



.favorites-container {
  display: flex;
  align-content: center;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  justify-content: space-between;
}


.sticky-1 {
  position: sticky;
  height: 100px;
  top: 0;
  width: 100%;
  z-index: 999;
}

.sticky-2 {
  width: 50%;
  z-index: 999;
  padding-left: 125px;
  color:white;  
}

.list-unstyled {
  color:white;
  height: 55vh;
  overflow: auto;
}


h1 {
  font-family: 'Nunito', 'Helvetica', sans-serif;
  color:white;
}

h2 {
  font-family: 'Nunito', 'Helvetica', sans-serif;
  font-size: 40px; 
  font-weight: 200;
  color:white;    
}


h3,
h4,
h5,
h6,
th {
  font-family: 'Nunito', 'Helvetica', sans-serif;
  font-size: 16px; 
  font-weight: 200;
  color: white;
}


.favs {
  color: white;
  font-size: 25px;
  text-decoration: underline;
}


.flash-messages {
  color: white;
}



.search {
  padding-top: 5rem;
  font-size: 85px;
}


.favorites-box {
  width: 50%;
  text-align: center;
}


button.btn-link {
  color: white;
}


.homepage nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; 
}

.nav-transparent {
  background: linear-gradient(rgba(0, 0, 0, 0.3), transparent);
  font-size: 1.2em;
  z-index: 100;
}

.nav-transparent .nav-link,
.nav-transparent .navbar-brand,
.nav-transparent p {
  color: white;
}

.nav-transparent .navbar-brand {
  font-weight: bold;
}

.nav-transparent .navbar-brand:hover,
.nav-transparent .nav-link:hover {
  color: rgb(255, 0, 255);
}

.homepage > section.container-fluid,
.homepage > section.container {
  width: 100vw;
  height: 100vh;
  padding-top: 56px;
}

.demo-2 {
  position: relative;
}

.demo-2-bg {
  background-color: #facfe4; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



@media (max-width: 767px) {
  .navbar-collapse {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  .nav-link {
    display: block;
    margin-bottom: 10px;
  }
}



.btn-link:hover {
  color: rgb(255, 0, 255);
}