body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/static/img/Info.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    font-family: 'Nunito', 'Helvetica', sans-serif;
    overflow: hidden;
  }



.h-font {
  font-size: 35px;
}

.websites {
  font-size: 25px;
}



ul.websites a {
  color: rgb(218,218,218);
}



ul.websites a:hover {
  color: white;
}



.container {
  padding-top: 19rem;
}



.homepage nav {
  position: fixed;
  top: 0;
  left: 0;
}

.nav-transparent {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  font-size: 1.2em;
  z-index: 100;
}

.nav-transparent .nav-link,
.nav-transparent .navbar-brand,
.nav-transparent p {
  color: black;
}

.nav-transparent .navbar-brand {
  font-weight: bold;
}

.nav-transparent .navbar-brand:hover,
.nav-transparent .nav-link:hover {
  color: white;
}

.homepage > section.container-fluid,
.homepage > section.container {
  width: 100vw;
  height: 100vh;
  padding-top: 56px;
}

.demo-2 {
  position: relative;
}

.demo-2-bg {
  background-color: #facfe4; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

