* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
}


h1 {
    background-color: rgb(166, 137, 255);
    color: rgb(22, 78, 131);
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
    border-radius: 30px;
}

#map {
    width: 100%;
    padding: 10px;
}
