body {
  background-color: whitesmoke;
  font-family: 'Fredoka One';
  font-size: 16px; 
  color: rgb(177, 175, 255); 
}

.homepage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.header {
  height: 160px;
  padding-top: 0.8em;
  text-align: center;
  font-size: 3em;
  background-size: 220px 210px;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.67em;
  background-color: rgb(151, 222, 255);
  font-family: 'Fredoka';
}

.body {
  height: 160px;
  padding-top: 0.8em;
  text-align: center;
  font-size: 3em;
  background-size: 220px 210px;
  align-items: center;
  margin-bottom: 0.67em;
  background-color: rgb(151, 222, 255);
  font-family: 'Fredoka';
}

.event-search-results {
  background-color: rgb(201, 238, 255);
}

.list-group-item {
  background-color: whitesmoke;
}

img{
  width:41%;
  height:auto;
  border:1pt solid rgb(50, 48, 48);
}

.cover{
  object-fit: cover;
  object-position: center;
}
.contain{
  object-fit: contain;
}

pre {
  height: 150px;
  overflow-y: scroll;
  font-size: 11px;
  resize: vertical;
}

h1 {
  font-family: 'Fredoka One';
  font-size: 145px;
  color: rgb(251, 207, 252)
}

h2 {
  font-family: 'Fredoka One';
  font-size: 26px; 
  font-weight: 400;
  color:rgb(127, 120, 210);
  text-shadow: 2px 2px #000;
}


h3,
h4,
h5,
h6,
th {
  font-family: 'Fredoka One';
  font-size: 16px; 
  font-weight: 400;
}


.row > * {
  padding-left: 0;
  padding-right: 0;
  color: rgb(127, 120, 210);
}

.row > .above {
  margin-bottom: 0;
  margin-top: 10px;
  color: rgb(127, 120, 210);
}


.results {
  color: rgb(127, 120, 210)
}


button, input[type="button"], input[type="submit"] { 
  color: grey;
  font-family: 'Fredoka One', cursive;
  font-size: 12px; 
  font-weight: 400;
  background-color: white; 
  border:1px solid; 
  border-color: grey
} 


.btn-primary, .favorite-btn {
  color: grey;
  font-family: 'Fredoka One', cursive;
  font-size: 12px; 
  font-weight: 400;
  background-color: white; 
  border:1px solid; 
  border-color: grey;
  margin: 5px;
  text-shadow: none;
}


.btn-primary:hover {
  background-color: grey;
  color: white;
}

.no-bullet {
  list-style-type: none;
  margin-left: 10px; 
}

.btn.btn-primary.btn-sm {
  font-size: 5px;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #211, 211, 211;
  color: #000;
  border: none;
  box-shadow: none;
}


.btn.btn-primary.btn-sm:focus {
  box-shadow: none;
  outline: none;
}


button.add-favorite:focus,
button.add-favorite:active {
  outline: none;
  box-shadow: none;
  background-color: white;
  color: grey;
}


.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* float: right; */
  /* margin-top: -275px; */
  padding-top: 20px;
  padding-left: 50px;
}

.homepage-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .homepage-container {
    flex-direction: row;
  }
}

.ono-sweets {
  padding-top: 10px;
  text-shadow: 2px 2px #000;
  grid-area: header;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  margin-left: 75px;
  margin-top: 20px;
}

.resources-pics {
    width: 10%;
    height: auto;
    border: 1pt solid rgb(50, 48, 48);
}


.homepage-fields {
    /* margin-top: -50px;
    margin-bottom: 1rem;
    margin-right: 15rem; */
    color: rgb(127, 120, 210);
}


.flash-messages {
  margin-top: -20px;
  color: rgb(207, 241, 239);
  padding: -15px;
  margin-bottom: 16px;
}


.form-label {
  color: grey
}

.favs {
  color: rgb(127, 120, 210);
}

.list-unstyled {
  color: rgb(127, 120, 210);
}

.search {
  padding-top: 5rem;
  font-size: 85px;
}


.bus-name {
  font-size: 50px;
}


#venue-container.container3 {
  padding-left: 10rem;
}


.fun-facts {
  color: rgb(127, 120, 210);
}



.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}


.profile-block {
  text-align: center;
}