body {
  background-color: rgb(220,220,220);
}

.header {
  height: 160px;
  padding-top: 0.8em;
  text-align: center;
  font-size: 3em;
  background-size: 220px 210px;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.67em;
  background-color: rgb(220,220,220);
}

.body {
  height: 160px;
  padding-top: 0.8em;
  text-align: center;
  font-size: 3em;
  background-size: 220px 210px;
  align-items: center;
  margin-bottom: 0.67em;
  background-color: rgb(220,220,220);
}

.event-search-results {
  background-color: rgb(220,220,220) 
}

.list-group-item {
  background-color: rgb(220,220,220) 
}

img{
  width:41%;
  height:auto;
  border:1pt solid rgb(50, 48, 48);
}

.cover{
  object-fit: cover;
  object-position: center;
}
.contain{
  object-fit: contain;
}

pre {
  height: 150px;
  overflow-y: scroll;
  font-size: 11px;
  resize: vertical;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-family: 'Lobster', sans-serif;
  font-weight: normal;
}

.backlink::before {
  content: '≪';
}

.row > * {
  padding-left: 0;
  padding-right: 0;
}

.row > .above {
  margin-bottom: 0;
  margin-top: 10px;
}


button, input[type="button"], input[type="submit"] { 
  color:#050; 
  font: bold 84% 'trebuchet ms',helvetica,sans-serif; 
  background-color:#fed; 
  border:1px solid; 
  border-color: #696 #363 #363 #696; 
} 

.btn-primary {
  color:#050; 
  font: bold 84% 'trebuchet ms',helvetica,sans-serif; 
  background-color:#fed; 
  border:1px solid; 
  border-color: #696 #363 #363 #696; 
  margin: 5px;
}


.btn-primary:hover {
  background-color: rgb(189, 188, 112);
  color:rgb(75, 83, 32);
}
