body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/static/img/beach_fav.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    font-family: 'Nunito', 'Helvetica', sans-serif;
    overflow: hidden;
  }
  
  
img{
    width:85%;
    height:auto;
    border:1pt solid rgb(50, 48, 48);
}
  

  
h1 {
    font-family: 'Nunito', 'Helvetica', sans-serif;
    font-size: 145px;
    color: black;
    font-weight: 200;
}
  
h2 {
    font-family: 'Nunito', 'Helvetica', sans-serif;
    font-size: 30px; 
    font-weight: 200;
    color:black;
}
  
  
h3,
h4,
h5,
h6,
th {
    font-family: 'Nunito', 'Helvetica', sans-serif;
    font-size: 30px; 
    font-weight: 300;
    color:black;
}
  

.container {
    align-items: center;
    max-width: 1100px;
}

  
@media only screen and (min-width: 768px) {
    .homepage-container {
      flex-direction: row;
}
}

  
.list-unstyled {
    color: rgb(127, 120, 210);
}
  
  
.bus-name {
    font-size: 75px;
    margin-top: 1in;
}
  


.h_container{
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    display: inline;
}

#heart{
    font-size: 50px;
    color: black;
}
#heart:hover{
    color:grey;
}


.homepage nav {
  position: fixed;
  top: 0;
  left: 0;
}

.nav-transparent {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  font-size: 1.2em;
  z-index: 100;
}

.nav-transparent .nav-link,
.nav-transparent .navbar-brand,
.nav-transparent p {
  color: black;
}

.nav-transparent .navbar-brand {
  font-weight: bold;
}

.nav-transparent .navbar-brand:hover,
.nav-transparent .nav-link:hover {
  color: rgb(4,217,255)
}

.homepage > section.container-fluid,
.homepage > section.container {
  width: 100vw;
  height: 100vh;
  padding-top: 56px;
}

.demo-2 {
  position: relative;
}

.demo-2-bg {
  background-color: #facfe4; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
