<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      {% block title %}
      <link href='https://fonts.googleapis.com/css?family=Fredoka One' rel="stylesheet" type="text/css">
      {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Fredoka One' rel="stylesheet" type="text/css">
  
    <link rel="stylesheet" href="/static/css/test.css">

    <style>
      body {
        margin-left: 110px;
      }
    </style>
    
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
  </body>
</html>