{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <title>Create Account</title>
  <link rel="stylesheet" href="/static/css/create-account.css">
{% endblock %}

{% block content %}
<div class="create">
<h2>Create an Account</h2>
<form action="/user" method="POST">
  <p>
  {% with message = get_flashed_messages() %}
  {% if message %}
    <ul class="flashes">
      <h4>{{ message[0] }}</h4>
    </ul>
  {% endif %}
  {% endwith %}
  </p>
  <p>
    <label for="fname"  class="label_">First Name</label>
    <input type="text" name="fname">
  </p>    
  <p>
    <label for="lname"  class="label_">Last Name</label>
    <input type="text" name="lname">    
  </p>
  <p>
    <label for="email" class="label_">Email</label>
    <input type="text" name="email">
  </p>
  <p>
    <label for="password" class="label_">Password</label>
    <input type="password" name="password">
  </p>
  <p>
    <input type="submit" value="Submit" class="btn btn-primary class-1">
  </p>
  <p>
    <a href="/" class="btn btn-primary class-1">&nbspLog In&nbsp</a>
  </p>

</form>
</div>
</html>
{% endblock %}