{% extends 'base.html' %}
{% block title %}Ono Sweets{% endblock %}


{% block head %}

  <style>
    body {
      margin-left: 110px;
    }

  </style>

{% endblock %}

{% block body %}
  <h1 style="margin-top: 1in;">Ono Sweets</h1>

  <ul>
    {% for message in get_flashed_messages() %}
      <li class="flash">{{ message }}</li>
    {% endfor %}
  </ul>

  <h2>Create an Account</h2>
  <form action="/user" method="POST">
    <p>
      <a class="btn btn-primary" href="/venue">
        Search
        <br>
      </a>
    </p>
    <p>
      <a class="btn btn-primary" href="/profile">
        Your Profile
        <br>
      </a>
    </p>
    <p>
      First Name <input type="text" name="fname">
    </p>    
    <p>
      Last Name <input type="text" name="lname">
    </p>
    <p>
      Email <input type="text" name="email">
    </p>
    <p>
      Password <input type="password" name="password">
    </p>
    <p>
      <input type="submit" value="Submit" class="btn btn-primary">


    </p>
  </form>

  <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit" value="Submit" class="btn btn-primary">
    </p>
    <p>
      <a class="btn btn-primary" href="/logout">
        Log Out
        <br>
      </a>
    </p>
    
  </form>
{% endblock %}