<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/homepage.css">
</head>
<body>
<div class="ono-sweets">
  <h1>Ono Sweets</h1>
</div>
    <div class="login">
    <h2>Log In</h2>
    <form action="/login" method="POST">
      {% with message = get_flashed_messages() %}
      {% if message %}
        <ul class="flashes">
          <h3>{{ message[0] }}</h3>
        </ul>
      {% endif %}
      {% endwith %}
      <p>
        Email <input type="text" name="email">
      </p>
      <p>
        Password <input type="password" name="password">
      </p>
      <p>
        <input type="submit" value="Submit" class="btn btn-primary class-1">
      </p>
      <br><br>
     <p>
      <a class="btn btn-primary class-1" href="/create_account">
        Create Account
      </a>
    </p>
    </form>
    </div>
</body>
</html>