{% extends 'base.html' %}

{% block title %}Directions | {{ business['name'] }}{% endblock %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directions</title>

    <link rel="stylesheet" href="/static/css/maps.css">
  </head>
  <body>
    <div id="map-container">
      <div id="map"></div>
      <div id="directions-panel"></div>
    </div>
    <input type=hidden id="lat" value="{{business['coordinates']['latitude']}}" />
    <input type=hidden id="long" value="{{business['coordinates']['longitude']}}" />

    <div class="row">
      <div class="col-12 text-center mb-3">
        <a class="btn btn-primary" href="/venue">Search</a>
      </div>
      <div class="col-12 text-center">
        <a class="btn btn-primary" href="/">Home</a>
      </div>
    </div>
  
    <script src="/static/js/app.js"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8p2SzMtIATGrROPu-00f_dolXZTYVHHw&callback=initMap"></script>
  </body>
</html>
{% endblock %}

