<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directions</title>

<link rel="stylesheet" href="/static/css/maps.css">
</head>
<body>
    <h1>Directions</h1>
    <input type=hidden id="lat" value="{{business['coordinates']['latitude']}}" />
    <input type=hidden id="long" value="{{business['coordinates']['longitude']}}" />
    <div id="map" ></div>

    <script src="/static/js/app.js"></script>
    <script
    async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8p2SzMtIATGrROPu-00f_dolXZTYVHHw&callback=initMap">
    </script>
</body>
</html>
