{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block head %}
  <style>
    body {
      margin-left: 120px;
      margin-top: 1in;
    }
  </style>

{% endblock %}

{% block body %}
  <h2>{{ user.fname }} {{ user.lname }}</h2>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <div class="d-inline-block">
    <a class="btn btn-primary" href="/">Home</a>
  </div>
<br>
<br>
  <div class="d-inline-block">
    <a class="btn btn-primary" href="/venue">Search</a>
  </div>
  <br>
  <br>
  <h3>Favorites</h3>
  {% if favorites %}
      {% for favorite in favorites %}
        <ul class="list-unstyled">
        <form action="/venue_without_fav/{{ favorite.venue.external_id.strip() }}">
          <button class="btn btn-link" type="submit">{{ favorite.venue.venue_name|safe }}</button>
        </form>
        <li class="no-bullet">{{ '({}) {}-{}'.format(favorite.venue.phone[-10:-7], favorite.venue.phone[-7:-4], favorite.venue.phone[-4:]) }}</li>
        <li class="no-bullet">{{ favorite.venue.address }}</li>
        <div class="d-inline-block">
        </div>
      {% endfor %}
  {% else %}
    <p>No favorites yet.</p>
  {% endif %}
{% endblock %}
