<!DOCTYPE html>
<html>
<head>
  <title>Your Profile</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/profile.css">
</head>
  <!-- <h2>{{ user.fname }} {{ user.lname }}</h2>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <div class="d-inline-block">
    <a class="btn btn-primary" href="/">Home</a>
  </div>
<br>
<br>
  <div class="d-inline-block">
    <a class="btn btn-primary" href="/venue">Search</a>
  </div> -->
  
  <div class="sticky-1">
  <div class="row justify-content-center">
    <nav class="navbar navbar-expand-md nav-transparent w-100">
      <div class="container-fluid">
        <a class="navbar-brand" href="/venue">SEARCH</a>
        <div id="navbar" class="navbar-collapse collapse navbar-expand-lg">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/resources">RESOURCES</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/logout">LOGOUT</a>
            </li>
          </ul>
        </div>
        <p class="my-auto">
          Ono Sweets
        </p>
      </div>
    </nav>
  </div>
  </div>

  <div class="sticky-2">
    <h2>{{ user.fname }} {{ user.lname }}</h2>
    <p style="color: white;"><strong>Email:</strong> {{ user.email }}</p>
  </div>
  <div class="profile-block">
  <h2 class="favs">Favorites</h2>
  {% if favorites %}
      {% for favorite in favorites %}
        <ul class="list-unstyled">
        <form action="/venue_without_fav/{{ favorite.venue.external_id.strip() }}">
          <button class="btn btn-link" type="submit">{{ favorite.venue.venue_name|safe }}</button>
        </form>
        <li class="no-bullet">{{ '({}) {}-{}'.format(favorite.venue.phone[-10:-7], favorite.venue.phone[-7:-4], favorite.venue.phone[-4:]) }}</li>
        <li class="no-bullet">{{ favorite.venue.address }}</li>
        <div class="d-inline-block">
        </div>
      {% endfor %}
  {% else %}
    <p>No favorites yet.</p>
  {% endif %}
  </div>

