<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/resources.css">
</head>


<div class="row justify-content-center">
  <nav class="navbar navbar-expand-md nav-transparent w-100">
    <div class="container-fluid">
      <a class="navbar-brand" href="/venue">SEARCH</a>
      <div id="navbar" class="navbar-collapse collapse navbar-expand-lg">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/profile">PROFILE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">LOGOUT</a>
          </li>
        </ul>
      </div>
      <p class="my-auto">
        Ono Sweets
      </p>
    </div>
  </nav>
</div>
    <title>Additional Resources</title>
  </head>
  <body>
    <ul>
      <div class="fun-facts"><br><br>"Ono": Hawaiian word for delicious.
        <!-- <br>
        <br>
        <img src="/static/img/haupia.jpg" alt="Haupia" class="resources-pics">
        Haupia is a traditional coconut milk-based Hawaiian dessert often found at 
        luaus and other local gatherings in Hawaii. Since the 1940s, it has become popular as a topping 
        for white cake, especially at weddings. Although technically considered a pudding, the consistency 
        of haupia closely approximates gelatin dessert, and it is usually served in blocks like gelatin. 
        It is also served in local ice cream parlors as Haupia Ice Cream.<br>
        <br><br>
        <img src="/static/img/malasadas3.jpg.webp" alt="Malasadas" class="resources-pics">
        Malasadas, the sugar-dusted, deep-fried Portuguese doughnuts, have become a staple in comfort food in Hawaii. 
        These doughy treats are loved so much in Hawaii that Fat Tuesday turned into Malasada Day, when thousands of 
        malasadas are sold over a course of a few hours.<br>
        <br><br> -->
      </div>
      <div class="fun-facts">
        <div class="image-container">
          <img src="/static/img/haupia.jpg" alt="Haupia" class="resources-pics">
        </div>
        <div class="text-container">
          <p>Haupia is a traditional coconut milk-based Hawaiian dessert often found at luaus and other local 
            gatherings in Hawaii. Since the 1940s, it has become popular as a topping for white cake, especially 
            at weddings. Although technically considered a pudding, the consistency of haupia closely approximates 
            gelatin dessert, and it is usually served in blocks like gelatin. It is also served in local ice 
            cream parlors as Haupia Ice Cream.</p>
        </div>
        <div class="image-container">
        <img src="/static/img/malasadas3.jpg.webp" alt="Malasadas" class="resources-pics">
        Malasadas, the sugar-dusted, deep-fried Portuguese doughnuts, have become a staple in comfort food in Hawaii. 
        These doughy treats are loved so much in Hawaii that Fat Tuesday turned into Malasada Day, when thousands of 
        malasadas are sold over a course of a few hours.<br>
        </div>
      </div>
      
    </ul>
    <h2>Useful Websites</h2>
    <ul>
      <li><a href="https://www.gohawaii.com/experiences/sightseeing/Beaches" target="_blank">Beaches of Hawaiʻi</a></li>
      <li><a href="https://www.govisithawaii.com" target="_blank">Hawaii Travel Guides</a></li>
      <li><a href="https://www.meethawaii.com/why-hawaii/about-the-islands/" target="_blank">About the Islands</a></li>
      <li><a href="https://www.gohawaii.com/islands/hawaii-big-island/travel-info/transportation" target="_blank">Transportation</a></li>
      <li><a href="https://www.gohawaii.com" target="_blank">Discover Hawaiʻi</a></li>
    </ul>

  </body>
</html>
