{% extends 'base.html' %}

{% block title %}Additional Resources{% endblock %}

{% block body %}

<html>
  <head>
    <title>Additional Resources</title>
  </head>
  <body>
    <ul>
      <div class="fun-facts"><br><br>"Ono": Hawaiian word for delicious.
        <br>
        <br>
        Haupia is a traditional coconut milk-based Hawaiian dessert often found at 
        luaus and other local gatherings in Hawaii. Since the 1940s, it has become popular as a topping 
        for white cake, especially at weddings. Although technically considered a pudding, the consistency 
        of haupia closely approximates gelatin dessert, and it is usually served in blocks like gelatin. 
        It is also served in local ice cream parlors as Haupia Ice Cream.<br>
        <img src="/static/img/haupia.jpg" alt="Haupia" class="resources-pics">
        <br><br>
        Malasadas, the sugar-dusted, deep-fried Portuguese doughnuts, have become a staple in comfort food in Hawaii. 
        These doughy treats are loved so much in Hawaii that Fat Tuesday turned into Malasada Day, when thousands of 
        malasadas are sold over a course of a few hours.<br>
        <img src="/static/img/malasadas3.jpg.webp" alt="Malasadas" class="resources-pics">
        <br><br>
        </div>

    </ul>
    <h2>Useful Websites</h2>
    <ul>
      <li><a href="https://www.gohawaii.com/experiences/sightseeing/Beaches" target="_blank">Beaches of Hawaiʻi</a></li>
      <li><a href="https://www.govisithawaii.com" target="_blank">Hawaii Travel Guides</a></li>
      <li><a href="https://www.meethawaii.com/why-hawaii/about-the-islands/" target="_blank">About the Islands</a></li>
      <li><a href="https://www.gohawaii.com/islands/hawaii-big-island/travel-info/transportation" target="_blank">Transportation</a></li>
      <li><a href="https://www.gohawaii.com" target="_blank">Discover Hawaiʻi</a></li>
    </ul>
    <p>
    <div class="d-inline-block">
      <a class="btn btn-primary" href="/profile">
        Your Profile
      </a>
      </div>
    </p>
      <p>
      <a class="btn btn-primary" href="/venue">
        Search
        </a>
      </p>
      <p>
        <a class="btn btn-primary" href="/logout">Logout</a>
      </p>
  </body>
</html>
{% endblock %}
