{% extends 'base.html' %}

{% block title %}Search For Desserts{% endblock %}


{% block head %}
  <style>
    body {
      margin-left: 40px;
    }
  </style>

{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col">
      <h2 style="margin-left: -10px;margin-top: 1in;">Search for Desserts</h2>

      <form method="GET" action="/venues/search">
        <div class="row">
          <small class="form-text text-muted">
          </small>
        </div>

        <div class="row">
          <label class="form-label above" for="search-zip">Zip Code</label>

          <input
            id="search-zip"
            class="form-control"
            type="text"
            name="zipcode"
            style="width: 3in;"
          >
        </div>

        <div class="row">
          <label class="form-label above" for="search-radius">Distance Radius</label>
          <small class="form-text text-muted">
            How far to search from your location?
          </small>

          <div class="col-8">
              <input
                id="search-radius"
                class="form-control"
                type="number"
                name="radius"
                style="width: 3in;"
              >
            </div>
        </div>

        <div class="row">
          <label class="above" for="search-sort-by">Sort by</label>

          <select
            id="search-sort-by"
            class="form-control form-select"
            name="sort"
            style="width: 3in;"
          >
            <option value="distance,asc">Distance</option>
            <option value="relevance,asc">Relevance</option>
          </select>
        </div>
        <div class="row mt-4">
          <div class="col-3">
            <input type="submit" value="Search" class="btn btn-primary">

            <p>
              <br>
              <a class="btn btn-primary" href="/profile">
                View your profile page
                <br>
              </a>
              <br>
              <br>
              <a class="btn btn-primary" href="/">
                Home
                <br>
              </a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

