{% extends 'base.html' %}

{% block title %}Search For Desserts{% endblock %}

{% block body %}

<div style="margin-left: -1in;"> 
<div class="container">
  <div class="row">
    <div class="col">
      <h2 style="margin-left: -10px;margin-top: 1in;">Search for Desserts</h2>

      <form method="GET" action="/venues/search">
        <div class="row">
          <small class="form-text text-muted">
          </small>
        </div>

        <div class="row">
          <label class="form-label above" for="search-zip">Zip Code | City, State</label>

          <input
            id="search-zip"
            class="form-control"
            type="text"
            name="zipcode"
            style="width: 3in;"
          >
        </div>
        <div class="row mt-4">
          <div class="col-3">
            <input type="submit" value="Search" class="btn btn-primary">

            <p>
              <br>
              <a class="btn btn-primary" href="/profile">
                View profile page
                <br>
              </a>
              <br>
              <br>
              <a class="btn btn-primary" href="/">
                Home
                <br>
              </a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}