{% extends 'base.html' %}

{% block title %}Venue Details | {{ business['name'] }}{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col">
      <h2 style="margin-top: 1in;">{{ business['name'] }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-4">
      <img src="{{ business['image_url'] }}">
      <p>
        <a href="{{ business['url'] }}" target="_blank">
        </a>
      </p>
    </div>
    <hidden id="external_id" hidden> {{ business['id'] }} </hidden>
    <hidden id="venue_name" hidden> {{ business['name'] }} </hidden>
    <hidden id="phone" hidden> {{ business['phone'] }}</hidden>
    <hidden id="address" hidden> {{ business['location']['address1'] }} {{ business['location']['city'] }} {{ business['location']['zip_code'] }}</hidden>
    <hidden id="rating" hidden> {{business['review_count']}} </hidden>
    <hidden id="review_count" hidden> {{business['review_count']}} </hidden>
    <hidden id="is_closed" hidden> {{business['is_closed']}} </hidden>
    <div class="col">
      <h6></h6>
      <h6>{{ '(' + business['phone'][2:5] + ') ' + business['phone'][5:8] + '-' + business['phone'][8:] }}</h6>
      <h6>{{ business['location']['address1'] }}<br>{{ business['location']['city'] }}, {{ business['location']['state'] }} {{ business['location']['zip_code'] }}</h6>
      <h6>review count: {{business['review_count']}}</h6>
      <h6>{% if business['is_closed'] %}</h6>
        <h6>CLOSED</h6>
      {% else %}
        <h6>OPEN NOW</h6>
      {% endif %}
      <p hidden> {{ business['coordinates']}}</p>   
    </div>
    <p>
      <br>
      <a class="btn btn-primary" href="/map/directions/{{ business['id'] }}">
        Directions
      </a>
    </p>
    <p>
      <button class="btn btn-primary add-favorite">Add Favorite</button>
    </p>
      <p>
        <a class="btn btn-primary" href="/venue">
          Search
          </a>
      </p>
      <p>
      <a class="btn btn-primary" href="/">
        Home
        <br>
      </a>
      </p>
      <p>
        <a class="btn btn-primary" href="/profile">
          View profile page
          <br>
        </a>
      </p>
    </p>

    <script src="/static/js/favorites.js"></script>
  </div>
</div>
{% endblock %}


