{% extends 'base.html' %}

{% block title %}Venue Details | {{ business['name'] }}{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>{{ business['name'] }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-4">
      <img src="{{ business['image_url'] }}">
      <p>
        <a href="{{ business['url'] }}" target="_blank">
        </a>
      </p>
    </div>

    <div class="col">
      <h6></h6>
      <h6>{{ '(' + business['phone'][2:5] + ') ' + business['phone'][5:8] + '-' + business['phone'][8:] }}</h6>
      <h6>{{ business['location']['address1'] }}<br>{{ business['location']['city'] }}, {{ business['location']['state'] }} {{ business['location']['zip_code'] }}</h6>
      <h6>rating: {{business['rating']}}</h6> 
      <h6>review count: {{business['review_count']}}</h6>
      <p hidden> {{ business['coordinates']}}</p>   

    </div>
    <p>
      <br>
      <a class="btn btn-primary" href="/map/directions/{{ business['id'] }}">
        Directions
      </a>
    </p>
      <p>
        <a class="btn btn-primary" href="/add_favorite/{{ business['id'] }}" method="POST">
          Add Favorite
        </a>
      </p>
      <p>
      <a class="btn btn-primary" href="/">
        Home
        <br>
      </a>
    </p>
    </p>

    
  </div>
</div>
{% endblock %}
