{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <title>Details</title>
  <link rel="stylesheet" href="/static/css/venue-details-without-favorite-button.css">
{% endblock %}


{% block content %}
<div class="row justify-content-center">
  <nav class="navbar navbar-expand-md nav-transparent w-100">
    <div class="container-fluid">
      <a class="navbar-brand" href="/venue">SEARCH</a>
      <div id="navbar" class="navbar-collapse collapse navbar-expand-lg">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/map/directions/{{ business['id'] }}" target="blank">DIRECTIONS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">FAVORITES</a>
          </li>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/resources">RESOURCES</a>
            </li>
          </ul>
          <li class="nav-item">
            <a class="nav-link" href="/logout">LOGOUT</a>
          </li>
        </ul>
      </div>
      <p class="my-auto">
        Ono Sweets
      </p>
    </div>
  </nav>
</div>

<div class="container">
  <div class="row2">
    <div class="col2">
      <h2 class="bus-name">{{ business['name'] }}</h2>
    </div>
    <br>
  </div>
  <br>
  <div class="row">
    <div class="col col-md-4">
      <img src="{{ business['image_url'] }}">
      <p>
        <a href="{{ business['url'] }}" target="_blank">
        </a>
      </p>
    </div>
    <hidden id="external_id" hidden> {{ business['id'] }} </hidden>
    <hidden id="venue_name" hidden> {{ business['name'] }} </hidden>
    <hidden id="phone" hidden> {{ business['phone'] }}</hidden>
    <hidden id="address" hidden> {{ business['location']['address1'] }} {{ business['location']['city'] }} {{ business['location']['zip_code'] }}</hidden>
    <hidden id="rating" hidden> {{business['rating']}} </hidden>
    <hidden id="review_count" hidden> {{business['review_count']}} </hidden>
    <hidden id="is_closed" hidden> {{business['is_closed']}} </hidden>
    <div class="col">
      <h6></h6>
      <h6>{{ '(' + business['phone'][2:5] + ') ' + business['phone'][5:8] + '-' + business['phone'][8:] }}</h6>
      <h6>{{ business['location']['address1'] }}<br>{{ business['location']['city'] }}, {{ business['location']['state'] }} {{ business['location']['zip_code'] }}</h6>
      <h6>average rating: {{ business['rating'] }} (out of 5 stars)</h6>
      <h6>review count: {{business['review_count']}}</h6>
      <h6>{% if business['is_closed'] %}</h6>
        <h6>CLOSED</h6>
      {% else %}
        <h6>OPEN NOW</h6>
      {% endif %}
      <p hidden> {{ business['coordinates']}}</p>  
      <div class="h_container remove-favorite">
        <i id="heart" class="far fa-heart"></i>
      </div> 
    </div>
    <script src="/static/js/remove_fav.js"></script>
  </div>
</div>
{% endblock %}
